.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

.row {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px
}

html {
  font-size: 16px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.15rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

p {
  font-size: 1rem;
}

.main-content {
  width: 100%;
}

@media (min-width: 320px) {
  .container {
    max-width: 274px;
  }
  html {
    font-size: 20px;
  }
}

@media (min-width: 375px) {
  .container {
    max-width: 329px;
  }
  html {
    font-size: 19px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  html {
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
  html {
    font-size: 17px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}